<h1 class="text-center">Add new car</h1>
<form>
  <div class="form-group">
    <label for="car_brand">Brand:</label>
    <input type="text" class="form-control" id="car_brand">
  </div>
  <div class="form-group">
    <label for="car_model">Model:</label>
    <input type="text" class="form-control" id="car_model">
  </div>
  <div class="form-group">
    <label for="car_description">Description:</label>
    <textarea class="form-control" id="car_description"></textarea>
  </div>
  <div class="form-group">
    <label for="car_number">Number:</label>
    <input class="form-control" id="car_number">
  </div>
  <div class="form-group">
  <label for="car_type">Fuel Type:</label>
  <select class="form-control" id="car_type">
    <option>Petrol</option>
    <option>Diesel</option>
    <option>Electric</option>
  </select>
</div>
<div class="form-group">
  <label for="car_transmission">Transmission:</label>
  <select class="form-control" id="car_transmission">
    <option>Manual</option>
    <option>Automatic</option>
    <option>Semi-Automatic</option>
  </select>
</div>
<div class="form-group text-center">
  <button type="submit" class="btn btn-primary">Submit</button>
</div>
</form>